/*FONTY*/
@font-face {
  font-family: "LuckiestGuy";
  src: url(../fonts/LuckiestGuy-Regular.ttf);
}
@font-face {
  font-family: "Yahone";
  src: url(../fonts/YanoneKaffeesatz-VariableFont_wght.ttf);
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat',sans-serif;
}

main{
  padding-top: 50px;
}

/*NAVIGACIA*/


/*Rozlozenia navigacie*/

nav{
  background: #151515;
  padding: 5px 40px;
  position: fixed;
  width: 100%;
  z-index: 999;
  
}
nav ul{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
nav ul li{
  padding: 15px 0;
  cursor: pointer;
}
nav ul li.items{
  position: relative;
  width: auto;
  margin: 0 16px;
  text-align: center;
  order: 3;
}

/*Efekt zeleneho podčiaknutia*/

nav ul li.items:after{
  position: absolute;
  content: '';
  left: 0;
  bottom: 5px;
  height: 2px;
  width: 100%;
  background: #29fd53;;
  opacity: 0;
  transition: all 0.2s linear;
}
nav ul li.items:hover:after{
  opacity: 1;
  bottom: 8px;
}

/*Dizajn navigacie a hoover*/


nav ul li a{
  color: white;
  font-size: 23px;
  text-decoration: none;
  transition: .4s;
}
nav ul li:hover a{
  color: #29fd53;;
}

/*Tlačitka pre mobil*/

nav ul li.btn{
  display: none;
}

/*Logo navigacie*/
nav ul li.logo{
  flex: 1;
  color: white;

}

/*Responzivita navigacie*/
@media all and (max-width: 900px){
  nav{
    padding: 5px 30px;
  }
  nav ul li.items{
    width: 100%;
    display: none;
  }
  nav ul li.items.show{
    display: block;
  }
  nav ul li.btn{
    display: block;
  }
  nav ul li.items:hover{
    border-radius: 5px;
    box-shadow: inset 0 0 5px #29fd53,
                inset 0 0 10px #246d54;
  }
  nav ul li.items:hover:after{
    opacity: 0;
  }
}
@media all and (max-width: 400px){
    nav ul li.logo{
        display: none;
    }
}

/*KREATIVNY BOD! Popup*/

/*Nastavenie okna*/
.popup{
  position: fixed;
  background-color: #ffffff;
  width: 50%;
  padding: 30px 40px;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
  border-radius: 8px;
  font-family: "Poppins",sans-serif;
  display: none;
  text-align: center;
  border: 2px solid black;
  border-radius: 50px;
  z-index: 999;

}

/*Tlačitko*/
.popup button{
  display: block;
  margin:  0 0 20px auto;
  background-color: transparent;
  font-size: 30px;
  color: #c5c5c5;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}


.popup a:hover{
  background-color:rgba(41, 207, 19, 0.5);


} 
/*Nastavenie textu*/
.popup p{
  font-family: sans-serif;
  font-size: 1rem;
  text-align: justify;
  margin: 20px 0;
  line-height: 25px;
}
.popup a{
  display: block;
  width: 150px;
  position: relative;
  margin: 10px auto;
  text-align: center;
  background-color: #179b17;
  color: #ffffff;
  text-decoration: none;
  padding: 5px 0;
  transition: 0.3s;
}

/*Responzivita Popupu*/
@media all and (max-width: 780px){
  .popup{
    width: 100%;
  }

}

/*SLIDE SHOW*/

/*Nastavenie velkosti celeho slidboxu*/
.slider-box {
    width: 100%;
    max-height: 100vh;
    position: relative;
    overflow: hidden;
    
}

/*Velkost obrazkov*/
#slider {
    width: 100%;
    display: inline-flex;
    transition: 0.7s;
}

#slider img {
    width: 100%;
 
}
/*Tlačitka na slide*/

.indicators {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.indicators span {
    display: inline-block;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}

.active {
    background: #ffff;
}



  /*SEKCIA 1*/


/*Nastavenie pozadia*/
.container-1{
  width: 100%;

  background-color: white;

}

/*Rozlozenie prvkov*/

.flex-container {
  justify-content: center;
  display: flex;
  margin-top: 100px;
  width: 80%;
  margin: auto;
 
}

.flex-child {
  margin-top: 50px;
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  
}
/*Nastavenie Obrazka*/

.flex-child img{
  border-radius: 50%;
  margin-top: 25px;
  margin-bottom: 100px; 
  width: 80vh;
  height: 70vh;

  
 
}

.flex-child:first-child {
  margin-right: 20px;
}
/*Uprava nadpisov a textu*/
.flex-child h2{
  color: #dd5449;
  font-family: "Yahone";
  font-size: 1.9em;
  line-height: 1.2em;
  
}

.flex-child h3{
  font-family: "LuckiestGuy";
  color: #422c18;
  font-size: 1.9em;
  font-weight: inherit;
}




.flex-child p{
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    line-height: inherit;
    color: #746862;
}

  
  
.flex-text{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}

.flex-p{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;

}

/*SEKCIA 2*/

/*Nastavenie pozadia*/
.container-2{
  background-color: #8e9535;
}

/*Velkost obsahu*/

.flex-container-2{
  display: flex;
  margin-top: 100px;
  width: 80%;
  height: 80vh;
  margin: auto;
  justify-content: center;
  align-items: center;
 
}
.flex-child-2{
  width: 100%;
  display: flex;
  gap: 200px;
  align-items: center;
}
/*Obrazok*/
.flex-child-2 img{
  border-radius: 50%;

}

/*Nastavenie textu a nadpisov*/

.flex-text-2{
  font-size: 17px;
  width: 50%;
  
 
  
}

.flex-text-2 h2{
  color: white;
  font-size: 3em;
  font-family: "LuckiestGuy";
  font-weight: inherit;
}

.flex-text-2 p{
  color: white;
  line-height: 1.9em;
  

}

/*SEKCIA 3*/

/*Nastavenie pozadia*/
.container-3{
  background-color: #fcc143;
}

/*Velkost obsahu*/
.flex-container-3{
  display: flex;
  margin-top: 100px;
  width: 80%;
  height: 80vh;
  margin: auto;
  justify-content: center;
  align-items: center;
 
}
.flex-child-3{
  display: flex;
  gap: 200px;
  align-items: center;
  width: 100%;
}

/*Obrazok*/

.flex-child-3 img{
  border-radius: 50%;
}

/*Nastavenie textu a nadpisy*/

.flex-text-3{
  width: 70%;
  margin-top: 50px;
  margin-bottom: 50px;;
  font-size: 17px;
  
}

.flex-text-3 h2{
  color: white;
  font-size: 3em;
  font-family: "LuckiestGuy";
  font-weight: inherit;
}

.flex-text-3 p{
  color: white;
  line-height: 1.9em;

}

/*Responzivita všetkych sekicii*/

@media all and (max-width: 1290px){
  .flex-container-3{
    width: 100%;
  }
}

@media all and (max-width: 1055px){
  

  .flex-container-2,.flex-container-3,.flex-container,.flex-child-2{
    flex-wrap: wrap;
    
  }


  .flex-child img{
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .flex-container-3{
    height: 120vh;
  }

  .flex-child-2 img{
    margin: auto;
  }

}

@media all and (max-width: 940px){
  .flex-child img{
    width: 60vh;
    height: 50vh;
  }
  .flex-text-2,.flex-text-3{
    width: 100%;
  }
}

@media all and (max-width: 840px){
    .flex-child-3{
      flex-wrap: wrap;
      margin: auto;
    
  }
    .flex-child-3 img{
      margin: auto;
      width: 70vh;
      height: 60vh;
    }
    .flex-container-3{
      height: 140vh;
    }

    .flex-text-3 h2{
      text-align: center;
      
  
    }

    .flex-container-3,.flex-text-3{
      margin: auto;
    }


 
}

@media all and (max-width: 650px){
  .flex-child img{
    width: 45vh;
    height: 35vh;
  }
}

@media all and (max-width: 470px){
  .flex-child img{
    width: 37vh;
    height: 27vh;
  }
}
@media all and (max-width: 1250px){
  .flex-container-2,.flex-child-3{
    height: auto;
  }
  .flex-child-2,.flex-child-3{
    gap: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .flex-text-2,.flex-text-3{
    width: 100%;
  }

  .flex-container-3{
    width: 100%;
  }

  .flex-text-3{
    margin-top: 50px;
    margin-bottom: 50px;
  }




 }

 @media all and (max-width: 580px){
  .flex-child-2 img,.flex-child-3 img{
    width: 50vh;
    height: 40vh;
  }

 }

 @media all and (max-width: 300px){
  .flex-child-2 img,.flex-child-3 img{
    width: 37vh;
    height: 27vh;
  }

  .flex-text-2,.flex-child-3{
    font-size: 1rem;
  }

  .flex-container-3{
    height: 150vh;
  }

  .flex-text-3 h2,.flex-text-3 h2{
    font-size: 2.5rem;
  }

  .flex-text-3,.flex-child-3{
    margin-top: 0px;
    text-align: center;
  }

  .flex-container-3{
    height: 190vh;

  }

  .flex-child{

    text-align: center;
    margin: 0px 0px;
    margin-left: 0px;
  }

  .flex-container,.flex-container-2{
    justify-content: center;
    width: 100%;
  }

  .flex-text{
    flex-direction:unset;
    margin: 0px 0px;
    justify-content: center;
  }

  .flex-container{
    margin: 0px 0px;
  }
 }

 @media all and (max-width: 277px){
  .flex-child img{
    width: 25vh;
    height: 20vh;
  }

 }

 @media all and (max-width: 430px){
  .flex-text-2{
    text-align: center;
  }

  .flex-child-2 img,.flex-child-3 img{
    width: 35vh;
    height: 25vh;

  }

 }

 @media all and (max-width: 430px){
  .flex-child-2 img,.flex-child-3 img{
    width: 25vh;
    height: 20vh;

  }

 }





/*FOOTER*/

/*Nastavenie velkosti a okrajov celeho footru*/
.container{
	max-width: 1170px;
	margin:auto;
}
/*Aby boly jednotlivy stlpce vedla seba v riadku*/
.row{
	display: flex;
	flex-wrap: wrap;
}
ul{
	list-style: none;
}
/*Farba a okraje*/
.footer{
	background-color: #24262b;
    padding: 70px 0;
}
/*Uprava jednotlivych stlpcov*/
.footer-col{
   width: 25%;
   padding: 0 15px;
}
/*Uprav tlačitiek Zdroje*/
.footer-col a{
  
  text-decoration: none;
  color: white;
  border: 2px solid white;
  border-radius: 10px;
  padding: 5px; 
  margin-bottom: 5px;
  background-color: #44ad2a;
  transition: 0.3s;
}

.footer-col a:hover{
  background-color: #4ece4e;

}

.footer-col p{
  margin-bottom: 20px;

}
.footer-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
  margin-top: 10px;
}

/*Podčiarknutie nadpisov*/
.footer-col h4::before{
	content: '';
	position: absolute;
	left:0;
	bottom: -10px;
	background-color: #1ee95b;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

/*Uprava textu*/
.footer-col p{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


/*Responzivita footer*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}











 






